* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    height: 50px;
    width: 100%;
    background-color: black;
    position: relative;
}

.campo-ricerca {
    position: absolute;
    right: 10px;
    top: calc(30px - 20px);
}
