* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    height: 60px;
    width: 100%;
    background-color: black;
    position: relative;
}

li {
    margin: 5px 0;
    list-style: none;
    position: relative;
}

.container_film,
.container_serie {
    margin: 50px 100px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.testata {
    display: none;
    width: 100%;
    text-align: center;
    margin: 25px;
    border-style: double;
}

.locandina {
    max-width: 100%;
}

.movie, .serietv {
    width: 250px;
    border: 1px black dashed;
    margin-bottom: 30px;
    padding: 20px;

}

.fas.fa-star {
    color: #f1c40f;
}

.heder-left {
    width: 50%;
    height: 100%;
}

.logo {
    position: absolute;
    left: 30px;

}

.header-right {
    position: absolute;
    right: 10px;
    top: calc(40px - 20px);
}

.bandieraLingua {
    position: absolute;
    left: 70px;
    bottom: -4px;
}
